<p>
  <%= flash[:notice] %>
</p>

<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
  		<% if @book.errors.any? %>
        <%= @book.errors.count %>error
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      <%end%>

  		<%= form_with model: @book do |f| %>
    <div>
    <%= f.label :title,"Title" %>
    </div>
    <%= f.text_field :title %>
    <div>
    <%= f.label :body,"Opinion" %>
    </div>
    <%= f.text_area :body %>
    <%= f.submit 'Update Book' %>
<% end %>

  		<%= link_to 'Show', book_path %> |
  		<%= link_to 'Back', books_path, class: "back" %>
  </div>
</div>